<div class="col-12">
    <div class="card card-body w-100">
        <div class="d-flex align-items-center justify-content-between">
            <!-- Image + Username -->
            <div class="d-flex align-items-center">
                <div class="me-3 text-center">
                    <%= image_tag tweet.twitter_account.image, class: "rounded-circle" %>
                    <div class="mt-2">
                        User: <%= link_to "@#{tweet.twitter_account.username}", 
                            "https://x.com/#{tweet.twitter_account.username}", 
                            target: :_blank, class: "d-block text-muted" %>
                    </div>
                </div>
            </div>

            <!-- Post Body -->
            <div class="text-center flex-grow-1">
                Post: <%= tweet.body %>
            </div>

            <!-- Actions -->
            <div class="text-end">
                <div>
                    Scheduled for: <%= l tweet.publish_at, format: :long %>
                </div>

                <% if type == 'scheduled' %>
                    <%= link_to "Edit X Post", edit_tweet_path(tweet), class: "btn btn-warning btn-sm mt-2" %>
                <% elsif type == 'past' %>
                    <%= link_to "View X Post", 
                        "https://x.com/#{tweet.twitter_account.username}/status/#{tweet.tweet_id}", 
                        target: :_blank, class: "btn btn-primary btn-sm mt-2" %>
                <% end %>
            </div>
        </div>
    </div>
</div>
